
@font-face {
    font-family: 'Stupid-Meeting';
    src: url(media/fonts/Stupid\ Meeting_D.otf) format('opentype');
}
  
:root{
    --primary-color: white;
    --secondary-color: #212121;
}
.dark-theme{
    --primary-color: #212121;
    --secondary-color: #edf2fc;
}
  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
   font-family: 'Stupid-Meeting', sans-serif;
}
  
body{
    overflow: hidden; 
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-color);
  transition: background-color 1s, color 1s;
}
  
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

a.logo{
  text-decoration: none;
}

.logo{
  font-size: 2em;
  user-select: none;
  color: var(--secondary-color);
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation a{
  position: relative;
  font-size: 1.3em;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 500;
  margin-right: 20px;
}
.navigation a, .dropbtn {
  margin-right: 20px; /*ajusta para igualar el espaciado */
  padding: 1px; /*ajusta según tu diseño */
}
  
.navigation a::after{
  content: '';
  position: absolute;
  left:0;
  bottom: 2px; /*altura de la linea*/
  width: 100%;
  height: 3px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform .5s;
}

  .navigation a:hover::after{
    transform: scaleX(1);
  }

/* Estilos para el contenedor desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

/*oculto inicialmente */
.dropdown-content {
  top: 100%;
  left: 0;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}
.dropdown-content a {
  padding: 10px; /* Ajusta el padding para controlar el espacio alrededor del texto */
  margin: 5px 0; /* Ajusta el margen para controlar el espacio entre elementos */
  display: block; /* Hace que cada enlace llene el ancho del contenedor */
  color: black; /* Ajusta el color del texto si es necesario */
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  font-size: 1em; /* Ajusta el tamaño del texto si es necesario */
}
/*estilo para mostrar el contenido desplegable al pasar el mouse */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a::after {
  content: '';
  position: absolute;
  left: 50%; /* centrar línea */
  bottom: -2px; /*posición de la línea */
  width: 90%; /*longitud de línea*/
  height: 2px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  transform: translateX(-50%) scaleX(0); /*asegurarse de que la línea está centrada */
  transition: transform .5s;
}

.dropdown-content a:hover::after {
  transform: translateX(-50%) scaleX(1);
}

/*ENLACES*/
.navigation a, .dropbtn {
  text-decoration: none;
  color: black; /* Ajusta el color a tu gusto */
  padding: 1px; /*ajusta el padding según tu diseño */
  display: inline-block;
}


#backgroundContainer {
  position: absolute;
  top: 80px; /* Altura de tu encabezado */
  left: 0;
  width: 100%;
  height: calc(100vh - 90px); /* Resta la altura del encabezado */
  overflow: hidden;
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain; /*cambiado de cover a contain */
  background-position: center;
  background-repeat: no-repeat; /*asegura que la imagen no se repita */
  transition: opacity 2s ease-in-out;
  opacity: 0;
}


#bgImage1 {
  opacity: 1; /* Inicialmente visible */
}


/* Ajuste de estilos generales del menú */
.social-menu {
  position: fixed;
  top: 20%; /* Ajuste según la pantalla */
  left: 20px;
  transform: translateY(-50%);
  z-index: 100;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Para que los iconos estén apilados verticalmente */
}

.social-links li {
  margin: 10px 0; /* Espacio entre los iconos */
  text-align: center;
}

.social-links li a {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 55px;
  height: 55px;
  background-color: #333;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.social-links li a:hover {
  background-color: #555;
  transform: scale(1.2); /* Aumenta el tamaño al pasar el ratón */
}

.social-links li a svg {
  width: 30px;
  height: 30px;
  fill: white;
}



/* Ajusta la visibilidad del menú en pantallas más pequeñas */
@media (max-width: 600px) {
  .social-menu {
      top: 20%; /* Ajusta la posición en móviles */
      left: 15px; /* Más centrado en pantallas pequeñas */
  }

  .social-links li a {
      font-size: 24px; /* Ajusta el tamaño del icono en pantallas pequeñas */
      width: 45px;
      height: 45px;
      line-height: 45px;
  }
}

.menu-toggle {
  display: none;
}

@media only screen and (max-width: 768px) {
  header {
      padding: 10px 20px; /* Reducir el padding en encabezado */
  }

  .logo {
      font-size: 1.5em; /* Tamaño de fuente más pequeño para el logo */
  }

  .navigation a {
      font-size: 1em; /* Tamaño de fuente más pequeño para los enlaces de navegación */
      margin-right: 10px; /* Menos espacio entre enlaces */
  }

  .dropdown-content {
      min-width: 120px; /* Menú desplegable con un ancho mínimo más pequeño */
  }

  .gallery {
      column-count: 1; /* Menos columnas en la galería para dispositivos móviles */
  }

}